body{
    background-image: url(../img/image\ 10\ \(1\)\ \(1\)\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
}
.bordaazul{
    position: absolute;
width: 403px;
height: 51px;
left: 50%;                                                                                          
top: 0px;
    background-image: url(../img/Group\ 160.png);
}

.delivery {
    position: absolute;
    width: 342px;
    height: 144px;
    left: 50%;
    top: 223px;
    
    
    background: #B2DBE8;
    
    background-image: url(../img/carrodobob.png);
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-position: 50%;
    border-radius: 10px;
    
    }
    .botao{
        position: absolute;
        font-size: 11px;
        border: solid rgba(62, 131, 153, 0.88);;
width: 76px;
height: 18px;
left: 225px;
top: 89px;

background: rgba(62, 131, 153, 0.88);
border-radius: 10px;
    }
    .devgratis{
        position: absolute;
width: 102px;
height: 29px;
left: 214px;
top: 31px;

font-family: 'Jolly Lodger';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 29px;
text-align: center;

color: #5491A4;
    }
    
    .titulo {
    position: relative;
    width: 205px;
    height: 28px;
    left: 50%;
    top: 67px;
    
    background: rgba(62, 131, 153, 0.88);
    border-radius: 10px;
    }
    
    .facaseupedido {
    position: absolute;
    width: 205px;
    height: 28px;
    left: 52%;
    top: 96px;
    
    background: #B2DBE8;
    border-radius: 10px;
    
    }
    
    .borda {
    position: absolute;
    width: 403px;
    height: 51px;
    left: -43px;
    top: 0px;
    }
    
    .borda3 {
    position: absolute;
    width: 305px;
    height: 28px;
    left: 50%;
    top: 125px;
  
    }
    
    .lula {
    border-radius: 40px;
    position: absolute;
    width: 86px;
    height: 81px;
    left: 62%;
    top: 67px;
    
    background: #B2DBE8;
    background-image: url(../img/image55.png);
    
    }
    
    .barradepesquisa {   
    position: absolute;
    width: 342px;
    height: 40px;
    left: 50%;
    top: 175px;
    
    
    background: #5491A4;
    border-radius: 10px;
    }
    .barradepesquisa{
        background-image: url(../img/image\ 18.png);
        background-repeat: no-repeat;
        position: absolute;

    }
    .pesquisa{
        position: absolute;
        font-size: 16px;
        color: white;
        width: 143px;
        height: 29px;
        left: 50%;
        top: 10px;
        
    }
    .barradepesquisa:hover{
        opacity: 0.8;
    }
.bordacategoria{
    position: absolute;
width: 126px;
height: 21px;
left: 50%;
top: 375px;

background: #5491A4;
border-radius: 10px;
}
.palavracategoria{
    position: relative;
    left: 50%;
color: #F5F5F5;

}
.container{
    display: inline-block;
    width: 100%;
    height: 400px;
    left: 50%;

}
.div1{
    border: solid;
    position: relative;
    display: inline-block;
    width: 5%;   
    height: 80px; 
    left: 50%;
    top: 400px;
    border-radius: 10px;
    background: #B2DBE8;
    border-color: transparent;

    
}

.div2{
    border: solid;
    position: relative;
    display: inline-block;
    width: 5%;
    left: 50%;
    height: 80px;
    top: 400px;
    border-radius: 10px;
    background: #B2DBE8;
    border-color: transparent;


}
.div3{
    border: solid;
    position: relative;
    display: inline-block;
    width: 5%;
    height: 80px;
    top: 400px;
    left: 50%;
    border-radius: 10px;
    border-color: transparent;
    background: #B2DBE8;


}
.div4{
    border: solid;
    position: relative;
    display: inline-block;
    width: 5%;
    height: 80px;
    top: 400px;
    left: 50%;
    border-radius: 10px;
    border-color: transparent;
    background: #B2DBE8;


}
.div5{
    border: solid;
    position: relative;
    display: inline-block;
    width: 5%;
    height: 80px;
    top: 400px;
    left: 50%;
    border-radius: 10px;
    border-color: transparent;
    background: #B2DBE8;


}
.div6{
    border: solid;
    position: relative;
    display: inline-block;
    width: 5%;
    height: 80px;
    top: 400px;
    left: 50%;
    border-radius: 10px;
    border-color: transparent;
    background: #B2DBE8;

}